.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 34% 33% 33%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.simulation-view {
    grid-column: 1;
    grid-row: 1 / span 3;
    background-color: #5699d4;
    padding-left: 30px;
}

.statistics-view {
    grid-column: 2;
    grid-row: 1 / span 2;
    background-color: #198cd8;
}

.menu {
    grid-column: 2;
    grid-row: 3 / span 1;
    background-color: #0073d2;
    display: flex;
    justify-content: center;
}

button {
  margin: 10% 2% 2%;
  height: 25%;
}

.input-file {
    display: block;
    margin: auto;
}
