.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 34% 33% 33%;
    height: 100vh;
    width: 100vw;
}

.simulation-view {
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: red;
}

.statistics-view {
    grid-column: 2;
    grid-row: 1 / 3;
    background-color: green;
}

.menu {
    grid-column: 2;
    grid-row: 3;
    background-color: blue;
    display: flex;
    justify-content: center;
}

button {
    margin: 2%;
    margin-top: 10%;
    height: 20%;
}