<div class="wrapper">
  <div class="simulation-view">
    <p>Simulation view</p>
    <div class="websocket">

    </div>
  </div>

  <div class="statistics-view">
    <p>Statistics view</p>
  </div>

  <div class="menu">
    <p>Menu</p>
    <button class="btn btn-primary" *ngIf="!simulationRunning" (click)="startSimulation()">Start simulation</button>
    <button class="btn btn-primary" *ngIf="!simulationRunning" (click)="loadMap()">Load map</button>
    <button class="btn btn-primary" *ngIf="!simulationRunning" (click)="saveMap()">Save map</button>
    <button class="btn btn-primary" *ngIf="!simulationRunning" (click)="changeInitialParameters()">Change initial parameters</button>
    <button class="btn btn-primary" *ngIf="simulationRunning" (click)="stopSimulation()">Stop simulation</button>
  </div>
</div>
